{% include 'core/head.html' %}

<table class="table table-striped table-bordered">
	<thead class=>
		<tr>
			<th scope="row"> Candidate </th>
			{% for issue in issues %}
				<th scope="col"> {{issue}} </th>
			{% endfor %}
		</tr>
	</thead>
	{% for candidate in candidates %}
		<tr>
			<td> {{candidate}} </td>
			{% for opinion in candidateopinions %}
				{% if opinion.candidate == candidate %}
					<td> {{opinion.position}} </td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
	<thead class="thead-light">
		<th> You </th>
		{% for opinion in voteropinions %}
			{% if opinion.voter == voter %}
				<td> {{opinion.position}} </td>
			{% endif %}
		{% endfor %}
	</thead>
</table>

<h3> Your top candidates: </h3>
{% for score in candidatescores|dictsort:"score" %}
	<p> {{score.candidate}} : {{score.score}} </p>
{% endfor %}