<div class="container overflow-hidden">
    <div class="dashboard-header">
        <h3>Your News</h3>
        <hr>
    </div>
    <div class="row gx-3">
        <div class="col-3">
            <div class="container bg-light dashboard-issue-container">{% lorem %}</div>
        </div>
        <div class="col-3">
            <div class="container bg-light dashboard-issue-container">{% lorem %}</div>
        </div>
        <div class="col-3">
            <div class="container bg-light dashboard-issue-container">{% lorem %}</div>
        </div>
        <div class="col-3">
            <div class="container bg-light dashboard-issue-container">{% lorem %}</div>
        </div>
        <div class="col-3">
            <div class="container bg-light dashboard-issue-container">{% lorem %}</div>
        </div>
    </div>
</div>
