{% load static %}
{% for candidate in candidates|dictsort:"last_name" %}
    <div class="col-3 pt-3 text-center">
        <a href="{% url 'candidate' candidate.pk %}">
            <div class="candidate-card">
                <img class="candidate-card-image"
                     src="{% static candidate.image_name %}"
                     alt="Oopsie">
            </img>
            <div class="card-container">
                <h4>
                    <b>{{ candidate }}</b>
                </h4>
                <p>{% lorem 5 w %}</p>
            </div>
        </div>
    </a>
</div>
{% endfor %}
