{% load static %}
{% for issue in issues|dictsort:"name" %}
    <div class="col-3 pt-3 text-center">
        <a href="#">
            <div class="issue-card">
                <img class="issue-card-image"
                     src="{% static 'images/issue-images/'|add:issue.image_name %}"
                     alt="Placeholder">
            </img>
            <div class="card-container">
                <h4>
                    <b>{{ issue }}</b>
                </h4>
                <p>{{ issue.issue_description }}</p>
            </div>
        </div>
    </a>
</div>
{% endfor %}
